@model IEnumerable<DomainModel.Entities.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@section TitleContent
{
    Products
}

@section MainContent
{
    @foreach (var product in Model)
    {
        <div class="item">
            <h3 class="">@product.Name</h3>
            <h4 class="">@product.Price</h4>
        </div>
    }
    <div class="pager">
     @Html.PageLinks((int)ViewBag.CurrentPage, (int)ViewBag.TotalPages, x => Url.Action("List", new { page = x }))
    </div>
}

