@model IEnumerable<DomainModel.Entities.Product>

@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    
@section TitleContent
{
    SportsStore :
    @if (string.IsNullOrEmpty(ViewBag.CurrentCategory))
    {
       @: All Products
    }
    else
    {@Html.Encode(ViewBag.CurrentCategory)}
        
}

@section MainContent
{
    @foreach (var product in Model)
    {
        { Html.RenderPartial("ProductSummary", product); }
    }
    <div class="pager">
     Page: @Html.PageLinks((int)ViewBag.CurrentPage, (int)ViewBag.TotalPages, x => Url.Action("List", new { page = x, category = ViewBag.CurrentCategory }))
    </div>}

